.hide {
    display: none;
}

.jumbotron {
    background-color: #970102;
    color: white;
    text-align: center;
}

.display-4 {
    font-weight: 400;
}

.card-header {
    background-color: black;
    color: white;
    font-weight: bold;
}

.accordion > .card:first-of-type {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.accordion-link {
    cursor: pointer;
}

.table th {
    border-top: 0;
}

i {
    margin-right: 10px;
}

.fa-edit, .fa-trash-alt {
    cursor: pointer;
}

.fa-trash-alt {
    margin-right: 0;
    margin-left: 8px;
}

.form-group {
    display: inline-block;
    width: 48%;
    margin-left: 5px;
    margin-right: 5px;
}

.form-group input {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .form-group {
        display: block;
        width: 100%;
    }

    .form-group input {
        display: block;
    }
}